<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a ui-sref="dashboard_menu">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Ingresos-Egresos</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
						<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
						<i class="icon-present"></i> New Event
						<span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider"> </li>
				<li>
					<a href="#">
						<i class="icon-flag"></i> Pending Orders
						<span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-users"></i> Pending Users
						<span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<h3 class="page-title"> Ingresos-Egresos</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-dark">
					<i class="icon-settings font-dark"></i>
					<span class="caption-subject bold uppercase"> Tabla de registros</span>
				</div>
				<div class="actions">
					<div class="inbox-body">
						<div class="inbox-header">
							<div class="form-inline pull-right" action="index.html">
								<div class="input-group input-medium">
									<input type="date" class="form-control" ng-model="get_date">
									<span class="input-group-btn">
										<button class="btn green" ng-click="get_movements(get_date)">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<a href="#" data-target="#create_ie_modal" role="button" class="btn sbold green" data-toggle="modal"> Add new <i class="fa fa-plus"></i> </a>								
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body flip-scroll">
					<table class="table table-striped table-bordered table-hover table-checkable order-column flip-content">
						<thead class="flip-content">
							<tr>
								<th> Fecha </th>
								<th> Valor </th>
								<th> Tipo </th>
								<th> Area </th>
								<th> Cuenta destino </th>
								<th> Balance de cuenta </th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX" ng-repeat="m in movements">
								<td> {{m.date | date:'dd/MM/yyyy'}} </td>
								<td> {{m.total | currency:'$':0}} </td>
								<td ng-hide="m.mov_type == 1"> Ingreso </td>
								<td ng-show="m.mov_type == 1"> Egreso </td>
								<td ng-show="m.source_type == 0"> Aporte de socios </td>
								<td ng-show="m.source_type == 1"> Recaudo de ventas </td>
								<td ng-show="m.source_type == 2"> PENDIENTE </td>
								<td ng-show="m.source_type == 3"> Prov. Contado </td>
								<td ng-show="m.source_type == 4"> Prov. Credito </td>
								<td ng-show="m.source_type == 5"> Gastos operativos </td>
								<td ng-show="m.source_type == 6"> Nomina operativa </td>
								<td ng-show="m.source_type == 7"> Nomina administra </td>
								<td ng-show="m.source_type == 8"> Nomina desarrollo </td>
								<td ng-show="m.source_type == 9"> Gastos Mis,Admin,D </td>
								<td ng-show="m.cash_id == 0"> Caja menor </td>
								<td ng-show="m.cash_id == 1"> Caja mayor </td>
								<td ng-show="m.cash_id == 2"> Bancolombia ahorros </td>
								<td ng-show="m.cash_id == 3"> Bancolombia corriente </td>
								<td ng-show="m.cash_id == 4"> Otros </td>
								<td> {{m.cash_balance | currency:'$':0}} </td>
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN REGISTER MODAL  -->
<div id="create_ie_modal" class="modal fade" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Generar movimiento de dinero</h4>
			</div>
			<div class="modal-body form">
				<form action="javascript:;" method="post" class="form-horizontal" ng-submit="createRegister($event, register)">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Fecha</label>
							<div class="col-md-9">
								<input type="date" ng-model="register.date">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Monto</label>
							<div class="col-md-9">
								<input type="number" ng-model="register.total">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Tipo de movimiento</label>
							<div class="col-md-9">
								<select class="form-control" ng-model="register.mov_type">
									<option value="0">Ingreso</option>
									<option value="1">Egreso</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Tipo de area</label>
							<div class="col-md-9">
								<select class="form-control" ng-model="register.source_type">
									<option value="0" ng-show="register.mov_type == 0">Aporte de Socios</option>
									<option value="1" ng-show="register.mov_type == 0">Recaudo de Ventas</option>
									<option value="2" ng-show="register.mov_type == 0">Otros</option>
									<option value="3" ng-show="register.mov_type == 1">Pago prov. Contado</option>
									<option value="4" ng-show="register.mov_type == 1">Pago prov. Credito</option>
									<option value="5" ng-show="register.mov_type == 1">Gastos operativos</option>
									<option value="6" ng-show="register.mov_type == 1">Gastos de Nomina Operativa tiempo completo </option>
									<option value="7" ng-show="register.mov_type == 1">Gastos de Nomina administrativa</option>
									<option value="8" ng-show="register.mov_type == 1">Gastos de Nomina de desarrollo </option>
									<option value="9" ng-show="register.mov_type == 1">Gastos Misc. Admin y Desarrollo</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Tipo de tercero</label>
							<div class="col-md-9">
								<select class="form-control" ng-model="register.third_type">
									<option value="0">Juridico</option>
									<option value="1">Natural</option>
								</select>
							</div>
						</div>	
						<div class="form-group">
							<label class="col-md-3 control-label">Tercero</label>
							<div class="col-md-8">
								<angucomplete-alt
									id="providerId"
									field-required="true"
									input-name="provider"
									placeholder="Busqueda de usuario"
									pause="100"
									selected-object="ThirdSelected"
									remote-api-handler="searchUser"
									title-field="name"
									description-field="lastname"
									minlength="1"
									inputclass="form-control spinner"
									ng-show="register.third_type == 1"/>
								<angucomplete-alt
									id="providerId"
									field-required="true"
									input-name="provider"
									placeholder="Busqueda de negocio"
									pause="100"
									selected-object="ThirdSelected"
									remote-api-handler="searchBusiness"
									title-field="name"
									description-field="lastname"
									minlength="1"
									inputclass="form-control spinner"
									ng-show="register.third_type == 0"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Caja</label>
							<div class="col-md-9">
								<select class="form-control" ng-model="register.third_type">
									<option value="0">Caja menor</option>
									<option value="1">Caja mayor</option>
									<option value="1">Bancolombia ahorros</option>
									<option value="1">Bancolombia corriente</option>
									<option value="1">Otros</option>
								</select>
							</div>
						</div>					
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-check"></i> Registrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END REGISTER MODAL  -->