<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a ui-sref="dashboard_menu">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a ui-sref="business_places">Negocios</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">{{business_place.place.name | capitalize}}</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#" ng-click="get_all()">
						<i class="icon-user"></i> Actualizar </a>
				</li>
				<li>
					<a href="#" ng-click="get_dayshop()">
						<i class="icon-user"></i> Consolidado </a>
				</li>
			</ul>
		</div>
	</div>
</div>
<h3 class="page-title"> Administracion de negocios</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-3">
		<div class="portlet light bordered">
			<h4>Recividos</h4>
			<ul class="noPadding"
			dnd-list="orders.received"
			dnd-drop="move_order(index, item, external, type, 0)">
				<li class="list_none_style"
					ng-repeat="o in orders.received"
					dnd-draggable="o"
					dnd-type="'0'"
					dnd-effect-allowed="move"
					ng-click="select_order(o)"
					data-target="#show_order"
					data-toggle="modal">
					<div class="portlet-body">
						<div class="well well-sm noMargin" style="padding:1%;">
							<h5 class="noMargin">{{o.sucursal.name | capitalize}}</h5>
							<h5 class="noMargin">{{o.order.total | currency:'$':0}} - {{o.order.datehour | date:"dd/MM/yy 'at' h:mma"}}</h5>
						</div>
					</div>
				</li>
				<li class="list_none_style" ng-show="orders.received.length == 0">
					<div class="portlet-body">
						<div class="well well-sm">
							<h4>Todo tranquilo aqui</h4>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3">
		<div class="portlet light bordered">
			<h4>Empacando</h4>
			<ul class="noPadding"
			dnd-list="orders.shopping"
			dnd-drop="move_order(index, item, external, type, 1)">
				<li class="list_none_style"
					ng-repeat="o in orders.shopping"
					dnd-draggable="o"
					dnd-type="'1'"
					dnd-effect-allowed="move"
					ng-click="select_order(o)"
					data-target="#show_order"
					data-toggle="modal">
					<div class="portlet-body">
						<div class="well well-sm noMargin" style="padding:1%;">
							<h5 class="noMargin">{{o.sucursal.name | capitalize}}</h5>
							<h5 class="noMargin">{{o.order.total | currency:'$':0}} - {{o.order.datehour | date:"dd/MM/yy 'at' h:mma"}}</h5>
						</div>
					</div>
				</li>
				<li class="list_none_style" ng-show="orders.shopping.length == 0">
					<div class="portlet-body">
						<div class="well well-sm">
							<h4>Todo tranquilo aqui</h4>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3">
		<div class="portlet light bordered">
			<h4>Entregando</h4>
			<ul class="noPadding"
			dnd-list="orders.delivering"
			dnd-drop="move_order(index, item, external, type, 2)">
				<li class="list_none_style"
					ng-repeat="o in orders.delivering"
					dnd-draggable="o"
					dnd-type="'2'"
					dnd-effect-allowed="move"
					ng-click="select_order(o)"
					data-target="#show_order"
					data-toggle="modal">
					<div class="portlet-body">
						<div class="well well-sm noMargin" style="padding:1%;">
							<h5 class="noMargin">{{o.sucursal.name | capitalize}}</h5>
							<h5 class="noMargin">{{o.order.total | currency:'$':0}} - {{o.order.datehour | date:"dd/MM/yy 'at' h:mma"}}</h5>
						</div>
					</div>
				</li>
				<li class="list_none_style" ng-show="orders.delivering.length == 0">
					<div class="portlet-body">
						<div class="well well-sm">
							<h4>Todo tranquilo aqui</h4>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3">
		<div class="portlet light bordered">
			<h4>Completado</h4>
			<ul class="noPadding"
			dnd-list="orders.completed"
			dnd-drop="move_order(index, item, external, type, 3)">
				<li class="list_none_style"
					ng-repeat="o in orders.completed"
					dnd-draggable="o"
					dnd-type="'3'"
					dnd-effect-allowed="move"
					ng-click="select_order(o)"
					data-target="#show_order"
					data-toggle="modal">
					<div class="portlet-body">
						<div class="well well-sm noMargin" style="padding:1%;">
							<h5 class="noMargin">{{o.sucursal.name | capitalize}}</h5>
							<h5 class="noMargin">{{o.order.total | currency:'$':0}} - {{o.order.datehour | date:"dd/MM/yy 'at' h:mma"}}</h5>
						</div>
					</div>
				</li>
				<li class="list_none_style" ng-show="orders.completed.length == 0">
					<div class="portlet-body">
						<div class="well well-sm">
							<h4>Todo tranquilo aqui</h4>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN SHOW ORDER MODAL  -->
<div id="show_order" class="modal fade" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Orden para {{order_selected.sucursal.name | capitalize}}</h4>
			</div>
			<div class="modal-body">
				<div class="row" ng-hide="order_selected.order.status == 0 || order_selected.order.status == 1">
					<div class="col-md-12">
						<h4>Orden #{{order_selected.order.consecutive}}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4>Fecha de entrega: {{order_selected.order.datehour | date:"dd/MM/yy 'at' h:mma"}}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4>Precio total: {{order_selected.order.total | currency:'$':0}}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4>Productos({{order_selected.products.length}}):</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="p in order_selected.products">
								<div class="row">
									<div class="col-md-3">
										<h5>{{p.variant.name | capitalize}}</h5>
									</div>
									<div class="col-md-3">
										<h5 ng-show="p.product.measurement_type == 1">x{{p.order_product.quantity}}kg</h5>
										<h5 ng-show="p.product.measurement_type == 0">x{{p.order_product.quantity}}lt</h5>
										<h5 ng-show="p.product.measurement_type == 2">x{{p.order_product.quantity}}und</h5>
									</div>
									<div class="col-md-3">
										<h5>{{p.order_product.price | currency:'$':0}}c/u</h5>
									</div>
									<div class="col-md-3">
										<h5>{{p.order_product.price * p.order_product.quantity | currency:'$':0}} total</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										Comentario: <i>{{p.order_product.comment | capitalize}}</i>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button data-target="#edit_orderproduct" data-toggle="modal" ng-click="select_product(p);"><i class="icon-settings"/></button>
										<button ng-click="delete_orderproduct(p.order_product, $index)"><i class="icon-trash"/></button>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Cancelar
					</button>
					<button type="button" class="btn btn-primary" ng-show="order_selected.order.status == 0 || order_selected.order.status == 1" data-target="#add_orderproduct" data-toggle="modal">
						Agregar un producto
					</button>
					<button type="submit" class="btn btn-primary" ng-hide="order_selected.order.status == 0 || order_selected.order.status == 1" ng-click="savePDF(order_selected)">
						<i class="fa fa-check"></i> Imprimir
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END SHOW ORDER MODAL  -->
<!-- BEGIN ADD ORDER PRODUCT MODAL  -->
<div id="add_orderproduct" class="modal fade" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Agregar una variante a la orden</h4>
			</div>
			<div class="modal-body form">
				<form action="javascript:;" method="post" class="form-horizontal" ng-submit="addVariant2Order($event, add_variant.model)">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Variante</label>
							<div class="col-md-8">
								<angucomplete-alt
									id="providerId"
									field-required="true"
									input-name="provider"
									placeholder="Busqueda de usuario"
									pause="100"
									selected-object="VariantSelected"
									remote-api-handler="searchVariant"
									title-field="variant.name"
									minlength="1"
									inputclass="form-control spinner" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Comentario</label>
							<div class="col-md-8">
								<input type="text" required class="form-control spinner" placeholder="Ej. quiero la manzana pequeña" ng-model="add_variant.model.comment">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Cantidad</label>
							<div class="col-md-4">
									<div class="input-group input-group-sm">
										<span class="input-group-addon">kg</span>
										<input type="number" min="0" required step="0.1" class="form-control" ng-model="add_variant.model.quantity">
									</div>
							</div>
							<div class="col-md-4">
									<div class="input-group input-group-sm">
										<span class="input-group-addon">Total</span>
										<input type="number" min="0" required step="0.1" class="form-control"
										ng-value="{{getTotalPrice(product_selected.variant.entry_price,product_selected.variant.business_percent,product_selected.variant.business_gain, 1) | currency:'$':0}}">
									</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-check"></i> Registrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END ADD ORDER PRODUCT MODAL  -->
<!-- BEGIN EDIT ORDER PRODUCT MODAL  -->
<div id="edit_orderproduct" class="modal fade" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Editar producto de orden</h4>
			</div>
			<div class="modal-body form">
				<form action="javascript:;" method="post" class="form-horizontal" ng-submit="update_orderproduct($event, product_selected)">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Comentario</label>
							<div class="col-md-8">
								<input type="text" required class="form-control spinner" placeholder="Ej. quiero la manzana pequeña" ng-model="product_selected.comment_t">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Cantidad</label>
							<div class="col-md-4">
								<div class="input-group input-group-sm">
									<span class="input-group-addon">kg</span>
									<input type="number" min="0" required step="0.1" class="form-control" ng-model="product_selected.quantity_t">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group input-group-sm">
									<span class="input-group-addon">Total</span>
									<input disabled type="text" class="form-control"
									value="{{(product_selected.price_t * product_selected.quantity_t).toString() | currency:'$':0}}">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-check"></i> Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END EDIT ORDER PRODUCT MODAL  -->