<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a ui-sref="dashboard_menu">Tienda</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a ui-sref="products_menu">Productos</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#" ui-sref="show_product({id: product.id})">{{ product.name | capitalize}}</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">{{ variant.name | capitalize}}</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
						<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
						<i class="icon-present"></i> New Event
						<span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider"> </li>
				<li>
					<a href="#">
						<i class="icon-flag"></i> Pending Orders
						<span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-users"></i> Pending Users
						<span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<h3 class="page-title"> Administracion de proveedores</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-dark">
					<i class="icon-settings font-dark"></i>
					<span class="caption-subject bold uppercase"> Tabla de proveedores</span>
				</div>
				<div class="actions">
					<div class="inbox-body">
						<div class="inbox-header">
							<form class="form-inline pull-right" action="index.html">
								<div class="input-group input-medium">
									<input type="text" class="form-control" placeholder="Nombre">
									<span class="input-group-btn">
										<button type="submit" class="btn green">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								<a href="#" data-target="#register_modal" role="button" class="btn sbold green" data-toggle="modal"> Add new <i class="fa fa-plus"></i> </a>								
							</div>
						</div>
						<!--div class="col-md-6">
							<div class="pagination-control pull-right">
								<span class="pagination-info"> 1-30 of 789 </span>
								<a class="btn btn-sm blue btn-outline">
									<i class="fa fa-angle-left"></i>
								</a>
								<a class="btn btn-sm blue btn-outline">
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div-->
					</div>
				</div>
				<div class="portlet-body flip-scroll table-both-scroll">
					<table class="table table-striped table-bordered table-hover order-column flip-content">
						<thead class="flip-content">
							<tr>
								<th> Nombre </th>
								<th> Responsable </th>
								<th> Actions </th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX" ng-repeat="p in providers">
								<td> {{p.info.name | capitalize}} </td>
								<td> {{p.user.name | capitalize}} {{p.user.lastname | capitalize}} </td>
								<td>
									<div class="btn-group">
										<button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
											<i class="fa fa-angle-down"></i>
										</button>
										<!--ul class="dropdown-menu pull-left" role="menu">
											<li>
												<a href="#" ui-sref="variant_providers({variant_id: v.id, product_id: product.product.id})">
													<i class="icon-user"></i> Proveedores </a>
											</li>
										</ul -->
									</div>
								</td>
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN PROVIDER ASSIGNMENT MODAL  -->
<div id="register_modal" class="modal fade" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Asignacion de proveedor</h4>
			</div>
			<div class="modal-body form">
				<form action="javascript:;" method="post" class="form-horizontal" ng-submit="assignProvider($event, provider)">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Proveedor</label>
							<div class="col-md-8">
								<angucomplete-alt
									id="providerId"
									field-required="true"
									input-name="provider"
									placeholder="Busqueda por nombre"
									pause="100"
									selected-object="ProviderSelected"
									remote-api-handler="searchProvider"
									title-field="provider.name"
									minlength="1"
									inputclass="form-control spinner"/>
							</div>
						</div>						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-check"></i> Crear</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END PROVIDER ASSIGNMENT MODAL  -->