.edit_variant_quick{max-width: 50%;}

.noPadding td {padding: 0;}

.noPadding td input {margin: 0;}

.tiny_img{max-width: 80%;}

.noPadding{padding: 0;}

.list_none_style{list-style-type: none;}